package ${basePkg}.repo;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import ${basePkg}.entity.Account;

/**
 * Title: UserRepository <br>
 * Description: Class for the User Repository. <br>
 * Copyright: Copyright (c) 2001-2020<br>
 * Company: RMRR<br>
 * @author Gened by ${baseGroupId}.build.GenSpring version ${genSpringVersion}<br>
 * @version ${appVersion}<br>
 */
@Repository
public interface UserRepository extends JpaRepository<Account, Integer>{
	Account findOneByEmail(String email);
	Account findOneByEmailAndPassword(String email, String password);

}
