package ${basePkg}.search;

import lombok.Data;

/**
 * Class for holding Criteria info
 * 
 * @author Gened by ${baseGroupId}.build.GenSpring version ${genSpringVersion}<br>
 * @version ${appVersion}<br>
 *
 */
@Data
public class SearchCriteria<T> {
	private String key;
	private Object value;
	private SearchOperation operation;

	public SearchCriteria() {
	}

	public SearchCriteria(String key, T value, SearchOperation operation) {
		this.key = key;
		this.value = value;
		this.operation = operation;
	}

}
