/**
 * 
 */
package ${basePkg}.search;

/**
 * @author avata
 *
 */
public enum SearchOperation {
//    GREATER_THAN,
//    LESS_THAN,
    GREATER_THAN_EQUAL,
    LESS_THAN_EQUAL,
//    NOT_EQUAL,
//    EQUAL,
    LIKE
//    MATCH,
//    MATCH_START,
//    MATCH_END,
//    IN,
//    NOT_IN
}
